body {
	margin: 0;
	padding: 0;
	background: #fff;
}

#main, main {
	color: #000;
	text-align: justify;
	padding: 3rem;
	max-width: 800px;
	margin: 0 auto;
	font-size: 5mm;
	line-height: 1.44;
}

.columns {
	column-count: 2;
	column-gap: 5em;
}

.header {
	display: flex;
	justify-content: space-between;
}

.item span {
	display: block;
}

.skillTitle, .header {
	font-weight: bold;
	font-style: oblique;
}

.skillDefault {
	text-align: left;
}

.item p, .skillDefault, .skillSubtitle, .skillPrereq {
	font-size: smaller;
}

#warning {
	color: red;
	font-size: larger;
}

h1 {
	margin-top: 2em;
}

h2 {
	margin-top: 1em;
}