@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	padding: 5px 1em;
	background-color: rgba(250,0,0,0.75);
	border-bottom-left-radius: 1em;
	font-family: 'Bebas Neue', Impact, sans-serif;
	font-size: 125%;
}

header a {
	text-decoration: none;
	color: #222;
}

#main, main {
	color: #000;
	text-align: justify;
	padding: 3rem;
	max-width: 800px;
	margin: 0 auto;
	font-size: 5mm;
	line-height: 1.44;
}

.columns {
	column-count: 2;
	column-gap: 5em;
}

.header {
	display: flex;
	justify-content: space-between;
}

.item span {
	display: block;
}

.skillTitle, .header {
	font-weight: bold;
	font-style: oblique;
}

.skillDefault {
	text-align: left;
}

.item p, .skillDefault, .skillSubtitle, .skillPrereq {
	font-size: smaller;
}

#warning {
	color: red;
	font-size: larger;
}

h1 {
	margin-top: 2em;
}

h2 {
	margin-top: 1em;
}

.banner, blockquote, pre {
	padding: 1em;
	font-size: smaller;
	color: #666;
	border-left: 5px solid rgba(250,0,0,0.75);
}

.banner, blockquote {
	font-style: italic;
	
}

blockquote footer {
	width: 100%;
	text-align: right;
}

img {
	width: 100%;
}


code, pre {
	background-color: #eee;
	padding: 0 0.5em;
	border-radius: 3px;
	color: #666;
	font-size: smaller;
}

pre {
	white-space: pre-wrap;
	padding-top: 1em;
}

kbd {
	background-color: #eee;
	padding: 0 0.5em;
	border-radius: 3px;
	color: rgba(250,0,0,0.75);
	font-size: smaller;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}