@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&family=Rubik&family=Staatliches&display=swap');

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: 'Courier Prime', monospace;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: smaller;
	background-image: url(./img/funky-lines.png);
}

header {
	width: 100%;
	height: 5vh;
}

#main, main {
	width: 95vw;
}

section {
	width: 100%;

	margin: 0;
	padding: 0;

	margin-bottom: 1em;
}

#loadingScreen {
	text-align: center;
	width: 50vw;
}

th:not(.superHeader) {
	position: sticky;
	top: 0;
	background: #444;
	color: #fff;
	z-index: 100;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}

tbody tr.portfolioTable_Row:hover, tbody tr.stocksTable_Row:hover {
	background-color: papayawhip;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	background: #fff;
	background-image: url(./img/cream_dust.png);
}

.positive_change {
	color: green;
}

.negative_change {
	color: red;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_bold {
	font-weight: bold;
}

.cursor_pointer {
	cursor: pointer;
}

.vertical_scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.scroll_panel {
	width: calc(50% - 0.75em);
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #222;
}

.wide_panel {
	width: calc(50% - 0.75em);
	height: 100%;
	border: 1px solid #222;
}

.meter {
	height: 2em;
	width: 10em;
	position: relative;
	display: inline-block;
	background-color: #fff;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	line-height: 2em;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
}

.meter .bar {
	height: 100%;
	background-color: rgba(200,200,200,0.25);
}

.meter .line {
	height: 100%;
	width: 2px;
	background-color: rgba(255,0,0,0.25);
	position: absolute;
	top: 0;
	left: 0;
}

.line.better {
	background-color: rgba(0,200,0,0.25) !important;
}

.sparkline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.superHeader {
	background-color: #000;
	color: #fff;
	font-size: larger;
	text-align: left;
	padding-left: 1em;
	background-image: linear-gradient(
		to top left,
		#000, #444
	);
}

.highlighted {
	background-color: papayawhip;
}

th.sortable::after {
	content: ' ⥍';
	color: #444;
}

th.sorted_desc::after {
	content: ' ↥';
	color: papayawhip;
}

th.sorted_asc::after {
	content: ' ↧';
	color: papayawhip;
}


/**************************************
	INTERFACE2 STYLES
**************************************/

.button {

}

.buyButton {
	
}

.sellButton {
	
}

.purchased {
	background-color: papayawhip;
}

#tablePanel {
	width: 100%;
	height: 74vh;
}

#portfolioPanel {
	width: calc(40% - 0.75em);
	background: #fff;
	background-image: url(./img/cream_dust.png);
}

#stocksPanel {
	width: calc(60% - 0.75em);
}

#portfolioTable, #stocksTable, #eventTable, #accountTable {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 10%0;
}

#portfolioTable tbody tr, #stocksTable tbody tr {
	border: 1px solid #eee;
}

.portfolioTable_Ticker, .stocksTable_Ticker {
	font-size: larger;
}

.stocksTable_Desc {
	font-style: italic;
	font-size: x-small;
	color: #666;
	line-height: 0.75em;
}

#eventTable, #accountTable {
	height: 11em;
}

#eventTable tbody {
	font-size: x-small;
	min-height: 11em;
}

#eventTable td {
	line-height: 0.75em;
}